# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDE Settings
.vscode/
.idea/

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Operating System
.DS_Store
Thumbs.db
